
<div class="row">
    <div class="small-12 columns">
        <h1>Dropdown proof of concept</h1>
        <div id="react-main-mount"></div>
    </div>
</div

{{- contentFor('headScripts') }}
<link rel="stylesheet" type="text/css" href="/style/missile.css" />

{{- contentFor('scripts') }}

<script type="text/javascript" src="/js/dropdown.js"></script>