
<div class="row">
    <div class="small-12 columns">
        <h1>SEver render</h1>
        {{- reactHtml }}
    </div>

</div



{{- contentFor('scripts') }}
<script type="text/javascript" src="/js/todo.js"></script>