
<div class="row">
    <div class="small-12 columns">
        <h1>SEver render</h1>
        {{-reactHtml}}
        <div id="react-main-mount"></div>
    </div>

</div



{{- contentFor('scripts') }}
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
<script type="text/javascript" src="/js/todo.js"></script>