
<div class="row">
    <div class="small-12 columns">
        <h1>PR</h1>
        <div id="react-main-mount"></div>
    </div>
</div



{{- contentFor('scripts') }}

<script type="text/javascript" src="/js/promisetest.js"></script>