<header class="header">
    <div class="row">
        <div class="small-12 columns">
        	<div class="clearfix">
        		
                <div class="left header-heading">
                		<h1>...</h1>
                </div>
                <ul class="right inline-list headerMenu">
        			<li>WHAT</li>
        			<li>EVER</li>
        		</ul>
        	</div>
        </div>
    </div>
</header>